body {
  background-color: black;
  padding: 0%;
}

h3 {
  color: white;
  font-size: 12px;
  padding: 2%;
}
.git {
  width: 15px;
  display: inline;
  right: 50px;
  position: absolute;
  top: 20px;
}
.in {
  width: 15px;
  display: inline;
  right: 80px;
  position: absolute;
  top: 20px;
}
.wp {
  width: 15px;
  display: inline;
  right: 110px;
  position: absolute;
  top: 20px;
}

.foto__ {
  width: 200px;
  height: 230px;
  right: 200px;
  top: 60px;
  position: absolute;
}
.home {
  color: white;
  font-size: 46px;
  top: 90px;
  right: 610px;
  position: absolute;
}
.home_ {
  color: white;
  font-size: 46px;
  right: 600px;
  top: 140px;
  position: absolute;
}
.developing {
  color: white;
  font-size: 42px;
  top: 310px;
  position: absolute;
}
.developing_ {
  color: white;
  font-size: 42px;
  top: 10px;
}

.html_ {
  color: white;
  font-size: 24px;
  top: 100px;
  left: 370px;
  position: absolute;
}
.css_ {
  color: white;
  font-size: 24px;
  top: 100px;
  left: 480px;
  position: absolute;
}
.java_ {
  color: white;
  font-size: 24px;
  top: 100px;
  left: 580px;
  position: absolute;
}
.react_ {
  color: white;
  font-size: 24px;
  top: 100px;
  left: 760px;
  position: absolute;
}
.about {
  color: white;
  font-size: 42px;
  top: 480px;
  position: absolute;
}

.about_ {
  color: white;
  font-size: 24px;
  top: 520px;
  left: 20px;
  position: absolute;
}

.certification {
  color: white;
  font-size: 42px;
  top: 320px;
  position: absolute;
}

.contact {
  color: white;
}

p {
  color: white;
}
.button {
  background-color: green;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  right: 10px;
  top: 1100px;
  position: absolute;
}

.button__label {
  font-size: 14px;
  line-height: 10px;
  color: white;
  font-weight: 700;
}

.end {
  color: white;
  font-size: 12px;
}
